@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #151719;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

#speedSlider, #switchStyle {
  margin: 10px;
}

.centered {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.waviy {
  position: relative;
  font-size: 50px;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
}

.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  transform: scale(1);
}
