@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #151719;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  word-spacing: 30px;
}

#speedSlider {
  margin: 20px 0;
}

.waviy {
  font-size: 50px;
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,0.2));
}

.waviy span {
  font-family: 'Alfa Slab One', cursive;
  display: inline-block;
  color: #fff;
  transform: scale(1);
}
